.box-bg-heading {
    font-family: Marcellus,serif;
    font-weight: 400;
    line-height: 1;
    color: rgba(96, 100, 114, .4);
    font-size: 150px;
}
.box-heading-top{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4em;
    font-family: Marcellus,serif;
    color: white;
    position: absolute;
    top: 40%;
    left: 30%;
}
.features-box{
    position: relative;
}
.margin-y-150px{
    margin-top: 150px;
    margin-bottom: 150px;
}
.margin-y-20px{
    margin-top: 20px;
    margin-bottom: 20px;
}