.logo-img{
  opacity: 50%;
  float: left;
}

.hover-before{
  margin-left: 50px;
  position: relative;

}
.hover-before::before {
  content: "";
  width: 30px;
  display: inline-block;
  transition: build 2s;
  transform: left;
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  left: -30px;
  height: 1px;
  background-color: white;
  transition: width .3s linear;
  transform-origin: left;
}
.hover-before:hover::before{
  width: 30px;
}
.nav-link-font{
  font-weight: 500;
    text-transform: uppercase;
    line-height: 2em;
    font-size: small;
    color: #ffffff;
}
.nav-link-font:hover{
color: #ffffff;
}



.elementor-section
{
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
}
.title 
{
  font-family: 'Marcellus', serif;
  color: white;
  opacity: 1;
  font-size: 80px;
}
.logo-img
{
  width: 10vw;
}
.para-upper
{
background: transparent;
color: #fff;
margin-top: 15px;

}




.arrowleft,.arrowright
{
 
  background-color: transparent;
  color: white;
  font-size: 70px;
  font-weight: 20;
  border: 0px;
  position:relative ;
  top: 38vh;
  padding: 5%;
}
.arrowleft{
  float: left;
}
.arrowright{
  float: right;

}

.arrowright, .arrowleft{
  color: white;
  background-color: transparent;
  border: 0;
}





.intro-side{
 height: 100vh;
 width: 32vw;
 background-color: #14203b;
 position: absolute;
top: 0;
right: 0;
z-index: 9;
}

.padi{
  padding: 0 8%;
}
.padi p{
  width: 80%;
  color: white;
  line-height: 200%;
  padding-bottom: 20%;

}
.padi img{
  width: 30%;
   -webkit-filter: invert(100%); 
   filter: invert(100%); 
   opacity: 50%;

}

.circle{
  color: rgb(7, 7, 73);
  background-color: wheat;
  display: inline-block;
width: 30px;
height: 30px;

  border-radius: 50%;
  border: wheat 1px solid;
  margin: 3%;
  align-items: center;
  text-align: center;
  line-height: 280%;
  font-size: 12px;
}
.circle:hover{
  color: white;
  background-color: #14203b;
}
.introfooter{
  color: #ddd;
  margin-left: 10%;
  position: absolute;
  bottom: 10%;
  }

  .crose{
    color: #ddd;
    font-style: normal;
    position: absolute;
    right: 10%;
    top: 8%;
    font-size: 250%;
  }
  .crose:hover, .info:hover{
    cursor: pointer;
  }
  .intro-header{
    margin-top: 40%;
  }

  .info{
    color: #ddd;
    font-style: normal;
    font-size: large;
    font-weight: 800;
    padding: 1%;
  }



.box{
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: white;
margin: 5px;
}

.line
{
  width: 100px;
  height: 2px;
  display: inline-block;
  background-color: #ddd;
}

.wheat-color{
  color:#b29063;
  
  letter-spacing: .6em;
  font-weight: 500;
  font-size: 11px;
}


.highlly-skilled-para{
  color: white;
  width: 70%;
  padding: 4% 0;
  font-weight: 400;
    font-size: 44px;
    line-height: 1.227em;
    font-family: Marcellus,serif;

}


.font-12px
{
  font-size: 15px;
  padding:2% 8%;
  color: white;
  background-color: transparent;
  border: #f9f9f9;
  margin: 0;
  
  border: #fff solid 1px;

}
.highly-skilled
{
  padding: 10% 0;
}
.highly-text-section
{padding: 20% 0;
}
.highly-img{
  position: relative;
  right: 30%;
}
@media screen and (max-width: 971px){
  .highly-img{
    right: 0;
  }
  .from-image{
    margin: 30% 0;
  }
}
.uppersection-mobile{
  background-image: url("https://halstein.qodeinteractive.com/wp-content/uploads/2021/10/h11-rev-img-02.jpg");
}

@media screen and (width <= 955) {
  .uppersection{
    display: none;
  }
}
@media screen  and (width > 955){
  .uppersection-mobile
  {
    display: none;
  }
}
.step-form{
  font-weight: 400;
  font-size: 44px;
  line-height: 1.227em;
  font-family: Marcellus,serif;
  margin: 25px 0;
  color: #ddd;
}

input[type=date], input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select, textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-radius: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 24px;
  margin: 0 0 26px;
  outline: 0;
  padding: 8px 0;
  border-color: #c5c5c5;
  background-color: transparent;
  color: #c5c5c5;
}

.from-image{
  width: 70%;
}


  .check-1000{
    height: 20000px;
  }


  .bg-trasparent{
    background-color: transparent;
  }
  
  .div{
    margin: 10% 2%;
  }


  @media screen and (min-width: 889px) {
    /* STYLES HERE */
}

@media screen and (min-device-width: 481px) and (max-device-width: 930px) {
    .title{
      font-size: 40px;
    }
 
}


.sign-img{
width: 200px;
}


.navbar-m{
  position: absolute;
  z-index: 7;
  width: 100%;

}